* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   letter-spacing: 1px;
}

body {
   display: grid;
   grid-template-areas: 
       "cabe cabe cabe"
       "prin prin prin"
       "roda roda roda";
   grid-template-columns: 1fr 2fr 2fr;
   grid-template-rows: auto auto auto;
   font-family: Arial, sans-serif;
   background-color: #e0e0e0;
   color: #333;
}

.caixa_mae {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   border: 20px;
}

header {
   grid-area: cabe;
   background: linear-gradient(#7f37c9, #ff2992, #ff9807);
   box-shadow: 0px 3px 10px #464646;
}


header .logo {
   width: 150px;
}

main {
   grid-area: prin;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap');

footer {
   width: 100%;
   color: #f5f5f5;
   grid-area: roda;
}

.footer-link {
   text-decoration: none;
}

#footer_content {
   background-color: #171717;
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   padding: 3rem 3.5rem;
}

#footer_contacts h1 {
   margin-bottom: 0.75rem;
}

#footer_social_media {
   display: flex;
   gap: 2rem;
   margin-top: 1.5rem;
} 

#footer_social_media .footer-link {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 2.5rem;
   width: 2.5rem;
   color: #f5f5f5;
   border-radius: 50%;
   transition: all 0.4s;
}

#footer_social_media .footer-link i {
   font-size: 1.25rem;    
}

#footer_social_media .footer-link:hover {
   opacity: 0.8;
}

#instagram {
   background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#facebook {
   background-color: #4267b3;
}

#whatsapp {
   background-color: #25d366;
}

.footer-list {
   display: flex;
   flex-direction: column;
   gap: 0.75rem;
   list-style: none;
}

.footer-list .footer-link {
   color: #a8a29e;
   transition: all 0.4s;
}

.footer-list .footer-link:hover {
   color: #7f37c9;
}

#footer_subscribe {
   display: flex;
   flex-direction: column;
   gap: 1.5rem;
}

#footer_subscribe p {
   color: #a8a29e;
}

#input_group {
   display: flex;
   align-items: center;
   background-color: #0e0c0c;
   border-radius: 4px;
}

#input_group input {
   all: unset;
   padding: 0.75rem;
   width: 100%;
}

#input_group button {
   background-color: #7f37c9;
   border: none;
   color: #f5f5f5;
   padding: 0px 1.25rem;
   font-size: 1.125rem;
   height: 100%;
   border-radius: 0px 4px 4px 0px;
   cursor: pointer;
   transition: all 0.4s;
}

#input_group button:hover {
   opacity: 0.8;
}

#footer_copyright {
   display: flex;
   justify-content: center;
   background-color: #0e0c0c;
   font-size: 0.9rem;
   padding: 1.5rem;
   font-weight: 100;
}

@media screen and (max-width: 768px) {
   #footer_content {
       grid-template-columns: repeat(2, 1fr);
       gap: 2rem;
   }
}

@media screen and (max-width: 426px) {
   #footer_content {
       grid-template-columns: repeat(1, 1fr);
       padding: 3rem 2rem;
   }
}

#produtos{
   text-align: center;  
}

#banner {
   background-image: url('imagens/banner.jpg');
   background-size: cover;
   color: #000;
   text-align: center;
   padding: 100px 0;
}

#banner h1 {
   font-size: 3em;
   margin-bottom: 20px;
}

#banner p {
   font-size: 1.2em;
   margin-bottom: 30px;
}

.card {
   margin: 20px;
   border-radius: 15px;
   background-color: #d3d3d3;
   justify-content: center;
   align-items: center;
   width: 300px;
   height: 400px;
   display: flex;
   flex-direction: column;
   gap: 15px;
   color: #000;
   transition: 1s;
   text-align: center;
   box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

.card div {
   display: flex;
   flex-direction: column;
   gap: 15px;
   height: 400px;
}

.card img {
   max-width: 200px;
   max-height: 200px;
   border-radius: 5px;
}

.card .price {
   font-size: 1.2em;
   font-weight: bold;
   color: #000;
}

.card h3 {
   margin: 10px 0;
}

.nav-bar {
   display: flex;
   justify-content: space-between;
   padding: 1.5rem 6rem;
}

.logo {
   display: flex;
   align-items: center;
}

.logo h1 {
   color: #fff;
}

.nav-list {
   display: flex;
   align-items: center;
}

.nav-list ul {
   display: flex;
   justify-content: center;
   list-style: none;
}

.nav-item {
   margin: 0 15px;
}

.nav-link {
   text-decoration: none;
   font-size: 1.15rem;
   color: #fff;
   font-weight: 400;
}

.login-button button {
   border: none;
   padding: 10px 15px;
   border-radius: 5px;
   background-color: #ff0000;
}

.login-button button a {
   text-decoration: none;
   color: #fff;
   font-weight: 500;
   font-size: 1.1rem;
}

.mobile-menu-icon {
   display: none;
}

.mobile-menu {
   display: none;
}

@media screen and (max-width: 730px) {
   .nav-bar {
       padding: 1.5rem 4rem;
   }
   .nav-item {
       display: none;
   }
   .login-button {
       display: none;
   }
   .mobile-menu-icon {
       display: block;
   }
   .mobile-menu-icon button {
       background-color: transparent;
       border: none;
       cursor: pointer;
   }
   .mobile-menu ul {
       display: flex;
       flex-direction: column;
       text-align: center;
       padding-bottom: 1rem;
   }
   .mobile-menu .nav-item {
       display: block;
       padding-top: 1.2rem;
   }
   .mobile-menu .login-button {
       display: block;
       padding: 1rem 2rem;
   }
   .mobile-menu .login-button button {
       width: 100%;
   }
   .open {
       display: block;
   }
}

.btn {
   display: inline-block;
   background-color: #555;
   color: #fff;
   padding: 10px 20px;
   border: none;
   border-radius: 5px;
   text-decoration: none;
}

.btn:hover {
   background-color: #333;
}

#pesquisa {
   justify-content: center;
   padding: 5px;
   border: none;;
   border-radius: 5px;
   background-color: #f2f2f2;
   outline: none;
}

@media only screen and (max-width: 400px) {
   body {
       grid-template-areas: 
           "cabe"
           "prin"
           "roda";
       grid-template-columns: 1fr;
   }
}