* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
 }
 
 body {
    display: grid;
    grid-template-areas: 
        "cabe cabe cabe"
        "prin prin prin"
        "roda roda roda";
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-rows: auto auto auto;
    font-family: Arial, sans-serif;
    background-color: #e0e0e0;
    color: #333;
 }

 
 header {
    grid-area: cabe;
    background: #ffae00;
    box-shadow: 0px 3px 10px #464646;
 }
 
 
 header .logo {
    width: 150px;
 }
 .altlogo{
    width: 200px;
   border-radius: 20px;
 }
 
 main {
    grid-area: prin;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    padding: 20px;
    background-color: #383838a2;
 }
 
 @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap');
 
 footer {
    width: 100%;
    color: #f5f5f5;
    grid-area: roda;
 }
 
 .footer-link {
    text-decoration: none;
 }
 
 #footer_content {
   background-color: rgb(53, 53, 53);
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   padding: 3rem 3.5rem;
 }
 
 #footer_contacts h1 {
    margin-bottom: 0.75rem;
 }
 
 #footer_social_media {
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
 } 
 
 #footer_social_media .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: #f5f5f5;
    border-radius: 50%;
    transition: all 0.4s;
 }
 
 #footer_social_media .footer-link i {
    font-size: 1.25rem;    
 }
 
 #footer_social_media .footer-link:hover {
    opacity: 0.8;
 }
 
 #instagram {
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
 }
 
 #facebook {
    background-color: #4267b3;
 }
 
 #whatsapp {
    background-color: #25d366;
 }
 
 .footer-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
 }
 
 .footer-list .footer-link {
    color: #a8a29e;
    transition: all 0.4s;
 }
 
 .footer-list .footer-link:hover {
    color: #7f37c9;
 }
 
 #footer_subscribe {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding-right: 30px;
 }
 
 #footer_subscribe p {
    color: #a8a29e;
 }
 
 #input_group {
    display: flex;
    align-items: center;
    background-color: #0e0c0c;
    border-radius: 4px;
 }
 
 #input_group input {
    all: unset;
    padding: 0.75rem;
    width: 100%;
 }
 
 #input_group button {
    background-color: #7f37c9;
    border: none;
    color: #f5f5f5;
    padding: 0px 1.25rem;
    font-size: 1.125rem;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    transition: all 0.4s;
 }
 
 #input_group button:hover {
    opacity: 0.8;
 }
 
 #footer_copyright {
    display: flex;
    justify-content: center;
    background-color: #0e0c0c;
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;
 }
 
 @media screen and (max-width: 768px) {
    #footer_content {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
 }
 
 @media screen and (max-width: 426px) {
    #footer_content {
        grid-template-columns: repeat(1, 1fr);
        padding: 3rem 2rem;
    }
 }

 .nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
 }
 
 .logo {
    display: flex;
    align-items: center;
 }
 
 .logo h1 {
    color: #fff;
 }
 
 .nav-list {
    display: flex;
    align-items: center;
 }
 
 .nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
 }
 
 .nav-item {
    margin: 0 15px;
 }
 
 .nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    color: #fff;
    font-weight: 400;
 }
 
 .login-button button {
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #ff0000;
 }
 
 .login-button button a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 1.1rem;
 }
 
 .mobile-menu-icon {
    display: none;
 }
 
 .mobile-menu {
    display: none;
 }
 
 @media screen and (max-width: 730px) {
    .nav-bar {
        padding: 1.5rem 4rem;
    }
    .nav-item {
        display: none;
    }
    .login-button {
        display: none;
    }
    .mobile-menu-icon {
        display: block;
    }
    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }
    .mobile-menu .login-button {
        display: block;
        padding: 1rem 2rem;
    }
    .mobile-menu .login-button button {
        width: 100%;
    }
    .open {
        display: block;
    }
 }
 
 .btn {
    display: inline-block;
    background-color: #555;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.3s;
 }
 
 .btn:hover {
    background-color: #1c6e07;
 }
 
 #pesquisa {
    justify-content: center;
    padding: 5px;
    border: none;;
    border-radius: 5px;
    background-color: #f2f2f2;
    outline: none;
 }
 
 @media only screen and (max-width: 400px) {
    body {
        grid-template-areas: 
            "cabe"
            "prin"
            "roda";
        grid-template-columns: 1fr;
    }
    main{
      grid-area: prin;
      display: flex;
      justify-content: left;
      align-items: left;
      min-height: 180vh;
      padding: 20px;
      background-color: #383838a2;
    }
    .produto-detalhes{
      height: 150vh;
      position: relative;
      bottom: 100px;
      right: 55%;
    }
    .produto-imagem{
      position: relative;
      width: 28rem;
      height: 100px;
      margin-left: 50%;
      left: 180px;
      bottom: 135px;
    }
 }
 /* CSS DO PRODUTO EM SI */
 .produto-detalhes {
   position: relative;
   height: 100vh;
   width: 100%;
   color: #ffffff;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   align-items: center;
   gap: 2rem;
}

.produto-imagem {
   flex: 1;
   max-width: 50%;
   display: flex;
   justify-content: center; /* Centraliza a imagem horizontalmente */
}

.produto-imagem img {
   max-width: 100%;
   width: 28rem;
   height: auto;
   margin-left: 25%;
}

.produto-descricao {
   flex: 2;
}

@media screen and (max-width: 768px) {
   .produto-detalhes {
       flex-direction: column; /* No mobile, imagem e descrição ficam empilhadas */
       align-items: flex-start;
   }
}

.produto-descricao h2 {
    font-size: 24px;
    margin-bottom: 15px;
    color: white;
}

.produto-descricao p {
    margin-bottom: 10px;
    color: white;
}

.produto-caracteristicas,
.produto-especificacoes {
    margin-bottom: 15px;
}

.produto-caracteristicas li,
.produto-especificacoes li {
    list-style: none;
    margin-bottom: 5px;
}

.produto-preco {
    font-size: 20px;
    font-weight: bold;
    color: #ff4500;
    margin-bottom: 20px;
}

.produto-comprar-btn {
    display: inline-block;
    background-color: #ffae00;
    color: black;
    padding: 10px 20px;
    text-align: center;
    border-radius: 15px;
    border: none;
    text-decoration: none;
    font-size: 16px;
}

.produto-comprar-btn:hover {
    background-color: #be8200;
    transition: 0.3s ease;
    color: white;
}
/* POPUP PERSONALIZAÇAO */

.modal {
    display: none; /* Escondido por padrão */
    z-index: 1; /* Fica em cima de outros elementos */
    left: 0;
    top: 0;
    overflow: auto; /* Habilita o scroll se necessário */
    background-color: rgba(0, 0, 0, 0.6); /* Fundo escuro com transparência */
    color: #ffffff;
    position: absolute; /* Centralizar o modal relativo ao card */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centraliza o modal no card */
    z-index: 1;
    width: 100%; /* Ajuste para que o modal ocupe a largura do card */
    max-width: 400px; /* Defina uma largura máxima para modais maiores */
    padding: 20px;
    border-radius: 8px;
    color: #ffffff;
}

/* Conteúdo do modal */
.modal-content {
    background-color: #1a1a1a;
    margin: 15% auto; /* Centraliza o modal */
    padding: 20px;
    border-radius: 8px; /* Cantos arredondados */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Sombra suave */
    max-width: 90%; /* Largura máxima responsiva */
    width: 100%;
    box-sizing: border-box;
}

h2 {
   color: #ffffff; /* Cor do título */
}

label {
    display: block;
    margin-bottom: 10px; /* Espaçamento abaixo do rótulo */
    font-weight: bold; /* Negrito */
}
/* Outros elementos do modal */
label, textarea {
   width: 100%;
   margin-bottom: 10px;
}

input[type="text"] {
    width: calc(100% - 20px); /* Largura total menos padding */
    padding: 10px; /* Padding interno */
    border: 1px solid #ccc; /* Borda leve */
    border-radius: 4px; /* Cantos arredondados */
    margin-bottom: 20px; /* Espaçamento abaixo do campo */
}

button {
    background-color: #ff4500; /* Cor do botão */
    color: #fff; /* Cor do texto */
    padding: 10px 15px; /* Padding interno */
    border: none; /* Sem borda */
    border-radius: 4px; /* Cantos arredondados */
    cursor: pointer; /* Cursor de mão */
    transition: background-color 0.3s; /* Transição suave */
}

button:hover {
    background-color: #ff2200; /* Cor do botão ao passar o mouse */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.inptper {
    width: calc(100% - 20px); /* Largura total menos padding */
    padding: 10px; /* Padding interno */
    border: 1px solid #ccc; /* Borda leve */
    border-radius: 4px; /* Cantos arredondados */
    resize: none; /* Desabilita o redimensionamento manual */
    height: 200px; /* Altura fixa do textarea */
    font-family: Arial, sans-serif; /* Fonte */
    font-size: 16px; /* Tamanho da fonte */
    color: #333; /* Cor do texto */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra leve */
}

.inptper::placeholder {
    color: #aaa; /* Cor do texto do placeholder */
    font-style: italic; /* Estilo itálico */
}
.logo2{
   width: 400px;
      border-radius: 50px;
}
.apimaps{
   width: 400px;
   height: 300px;
   border-radius: 20px;
}
.Logo {
   width: 200px;
   border-radius: 20px;

}

/* personalizaçao */
/* Ajustes para dispositivos móveis */
@media (max-width: 600px) {
   .modal-content {
       padding: 15px;
       font-size: 14px;
   }
}
