body {
    font-family: Arial, sans-serif;
    color: #000000; /* preto */
    margin: 0;
    padding: 0;
    background-color: white;
    background-image: url(imagens/muro.jpg);
    background-size: cover;
    background-position: left center;
}
.container {
    width: 80%;
    max-width: 600px;
    margin: 150px auto;
    padding: 30px;
    background-color: #ffffff; /* branco */
    border: 1px solid #000000; /* preto */
    border-radius: 5px;
}
h1 {
    text-align: center;
}
label {
    display: block;
    margin-bottom: 5px;
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"] {
    width: 578px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #000000; /* preto */
    border-radius: 5px;
}
input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #000000; /* preto */
    color: #ffffff; /* branco */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #333333; /* cinza mais escuro */
}
.imagem{
    width: 200px;
    border-radius: 20px;
    padding-left: 400px;
}